/* general styling */

* {
    margin: 0;
    padding: 0;


}

body {


    height: 90vh;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #E8E8E8;
}





#Logo {
    width: 500px;
    display: block;
    text-align: center;
    margin-top: 20px;
    height: 200px;
}


.logoFloat {
    float: left;
    font-size: 2.25rem;
    color: white;
    font-weight: bold;
}

#formLogin {

    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    height: 100vh;
    gap: 2.25rem;
}


.logInInputs {

    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 50px;
    border-radius: 10px;
    position: relative;
    mix-blend-mode: multiply;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    background: radial-gradient(circle, rgba(149, 99, 255, 1) 10%, rgba(240, 240, 240, 1) 40%);
}

.emailInput,
.passworsdInput {

    display: flex;
    flex-direction: column;
    gap: .3125rem;
}

.checkbox {
    display: flex;
    flex-direction: row;
    gap: 3.3125rem;
}

.passwordForgetable {
    text-decoration: unset;

}

.passwordForgetable:visited {
    color: #1a74a7;

}

#accountMake {
    display: flex;
    flex-direction: row;
    gap: 3.3125rem;


}

.headerForm {
    text-align: center;

}

#email,
#password {
    background: transparent;
    border: unset;
}


#logoEmail,
#logoPassowrd {
    position: absolute;
    left: 290px;

}

#btnLogin {
    color: white;
    background-color: rgba(5, 1, 49, 0.882);
    padding: 10px;
    border-radius: 10px;

}

#exitLogo {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(44, 36, 36);
    color: white;
    padding: 10px;
    border-radius: 0px 10px;

}